* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgba(55, 162, 233, 0.61);
  
  }
  P{
    margin: 15px;
    padding: 10px;
    font-size:x-large;
  }
  .calculator {
    max-width: 100%;
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .buttons button {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d1d1d1;
    cursor: pointer;
  }
  
  .display {
    margin-bottom: 10px;
    overflow-x: auto;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: right;
    max-height: 100px;
  }
  
  .buttons button:hover {
    background-color: #6e6f70;
  
  }
  
  .operator {
    color: rgb(255, 25, 25);
    font-weight: bold;
  }